$tablet: 821px;
$phone: 426px;
$smphone: 321px;

.destBackGround {
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    /* width: 100vw; */
    height: 107vh;
    margin-top: -24px;
    background-repeat: no-repeat;

    @media (max-width:$tablet) {
        height: 1410px;
    }

    @media (max-width:$phone) {
        background-image: url(../../assets/destination/background-destination-mobile.jpg);

    }
}

.name {
    position: relative;
    float: right;
    top: 40vh;
    /* border: 4px white solid; */
    margin: auto;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;

    @media (max-width:$tablet) {
        top: -92px;
        left: -111px;
        right: 0px;
        float: none;
        font-size: 80px;

    }

    @media (max-width:$phone) {
        top: -205px;
        font-size: 59px;
        left: -83px;
    }
}

.nameEuropa {
    position: relative;
    float: right;
    top: 40vh;
    left: 85px;
    /* border: 4px white solid; */
    margin: auto;
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;

    @media (max-width:$tablet) {

        top: -92px;
        left: -134px;
        right: 0px;
        float: none;
        font-size: 80px;

    }

    @media (max-width:$phone) {
        top: -205px;
        left: -113px;
        font-size: 60px;
    }

    @media (max-width:$smphone) {

        left: -107px;
        font-size: 60px;

    }
}

.planet {
    position: absolute;
    left: 103px;
    top: 301px;
    width: 459px;
    height: 459px;

    @media (max-width:$tablet) {
        width: 303px;
        height: 304px;
        left: -121px;
        top: 0px;
        position: relative;
    }

    @media (max-width:$phone) {
        width: 205px;
        top: -59px;
        height: 205px;
        left: -81px;
    }

    @media (max-width:$smphone) {
        width: 172px;
        top: -59px;
        height: 171px;
        left: -68px;
    }

}

.pickDest {
    position: absolute;
    /* width: 73%; */
    height: 34px;
    left: 6.14%;
    right: 4.57%;
    top: calc(53% - 256px);
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 2.725px;
    text-transform: uppercase;
    color: #FFFFFF;
    grid-template-columns: 63px 525px;
    display: grid;



    @media (max-width:$tablet) {
        left: 5.14%;
        right: 4.57%;
        /* top: calc(36% - 281px); */
        position: relative;
        top: 48px;
        font-size: 13px;
        width: 10vw;
        grid-template-columns: 63px 381px;
    }

    @media (max-width:$phone) {
        grid-template-columns: 50px 294px 20px;
        font-size: 12px;
        top: 57px;
    }

    @media (max-width:$smphone) {
        font-size: 9px;
        grid-template-columns: 50px 235px;
    }
}

.pickDestNum {
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.discript {
    position: absolute;
    height: 128px;
    /* left: 0%; */
    right: 10.22%;
    top: calc(50% - 54px/2 + 28px);
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 444px;
    color: #D0D6F9;

    @media (max-width:$tablet) {
        top: -81px;
        text-align: center;
        margin: auto;
        position: relative;
        right: 0px;
        left: -209px;
        font-size: 16px;
    }

    @media (max-width:$phone) {
        top: -212px;
        left: -146px;
        width: 300px;
        font-size: 15px;
    }
}

.stats {
    padding-top: 27px;
    text-align: -webkit-center;
}

.statPos {
    border-top: 2px #383B4B solid;
    position: absolute;
    width: 444px;
    right: 10.5%;
    top: 76vh;
    grid-gap: 64px;
    display: grid;
    grid-template-columns: 203px 206px;

    @media (max-width:$tablet) {
        top: 935px;
        margin: auto;
        width: 612px;
        right: 0px;
        position: relative;
        grid-gap: 0px;
        display: grid;
        grid-template-columns: 340px 249px;
    }

    @media (max-width:$phone) {
        top: 851px;
        margin: auto;
        width: 330px;
        position: relative;
        text-align: center;
        right: 0px;
        display: grid;
        grid-template: none;
    }

    @media (max-width:$smphone) {
        top: 851px;

        width: 259px;

        display: grid;
        grid-template: none;
    }
}

.distance {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.distanceNum {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 2.3625px;
    text-transform: uppercase;

    color: #D0D6F9;
}

@media (max-width:$tablet) {
    .planetPlace {
        text-align: -webkit-center;
        margin: auto;
        top: 237px;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .infoPlace {
        top: 787px;
        // left: -201px;
        margin: auto;
        position: relative;
        height: 10px;
        width: 10px;
    }
}

.logo {
    display: none;
}

.circleDiv {
    display: none;
}