$tablet: 821px;
$phone: 426px;
$smphone:321px;
.placeMent{
    position: absolute;
    top: 45vh;
}
.destNav{
    position: relative;
    top: 250px;
    grid-template-columns: 80px 74px 91px 99px;
    float: right;
    display: grid;
    right: 20%;
    Width: 285.5px;
    Height: 34px;
    @media (max-width:$tablet) {
        top: 628px;
        margin: auto;
        float: none;
        right: 0%;
    }
    @media (max-width:$phone) {
        top: 491px;
    }
    @media (max-width:$smphone) {
        grid-template-columns: 80px 74px 91px 46px;
        right: -10px;
    }
}
.destNav a:hover{
    border-bottom: 3px rgba(255, 255, 255, 0.229) solid;
}

.destNav a{
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    text-align: right;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: Barlow Condensed;
}
