.crewNav{
    position: relative;
    top: 700px;
    right: -6%;
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
}
.circleNav{
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 50%;
}
.cirlceActive{
    background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.17;
}