.techBackGround{
    background-image: url(../../assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    height: 107vh;
    margin-top: -24px;
    background-repeat: no-repeat;
}
/* .discript {
    position: absolute;
    height: 128px;
 
    right: 10.22%;
    top: calc(50% - 54px/2 + 28px);
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 444px;
    color: #D0D6F9;
} */


.techDis {

    position: absolute;
    width: 440px;
    left: 20%;
    top: 63vh;
}

.techDisText {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    
    
    color: #D0D6F9;
}

.techPic {
    width: 462.07px;
height: 506px;
right: 0%;
float: right;
position: relative;
top: 25.5vh;
}

.techInfo {
    position: relative;
    top: 310px;
    right: -20%;
    width: 48%;
}

.techName {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    top: -26px;
}

.techHeader {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    
    color: #D0D6F9;
}
