$tablet: 821px;
$phone: 426px;
$smphone: 321px;

.techNav {
    position: absolute;
    top: 305px;
    right: 83%;
    display: grid;
    /* grid-template-columns: 30px 30px 30px 30px; */
    width: 10%;

    @media (max-width:$tablet) {
        grid-template-columns: 90px 90px 30px;
        /* right: 58%; */
        top: 628px;
        margin: auto;
        position: relative;
        right: 0px;
        width: 32%;
    }

    @media (max-width:$phone) {
        margin: auto;
        position: relative;
        right: -11px;
        width: 57%;
    }

    @media (max-width:$smphone) {
        width: 75%;
        top: 593px;
    }
}



.techActive div.techCircle {
    opacity: 1.0;
    background-color: white;
    color: black;
}

.techCircle:hover {
    opacity: 1.0;
}

.techCircle {
    width: 80px;
    height: 80px;
    background: #33323200;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0.5;
    text-align: center;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 0px;
    margin-bottom: 12px;
    color: #FFFFFF;

    @media (max-width:$tablet) {
        width: 58px;
        height: 58px;
    }
}

.techCircle h1 {
    top: 50%;
    position: relative;
    margin: auto;
    font-size: 24px;
}