.techNav{
    position: absolute;
    top: 305px;
    right: 83%;
    display: grid;
    /* grid-template-columns: 30px 30px 30px 30px; */
    width: 10%;
}



.techActive div.techCircle{
opacity: 1.0;
background-color: white;
color: black;
}
.techCircle:hover{
    opacity: 1.0;
}
.techCircle{
    width: 80px;
    height: 80px;
    background: #33323200;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0.5;
    text-align: center;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 0px;
    margin-bottom: 12px;
    color: #FFFFFF;
}