.destBackGround{
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    /* width: 100vw; */
    height: 107vh;
    margin-top: -24px;
    background-repeat: no-repeat;
}
.name{
    
    position: relative;
    float: right;
    top: 40vh;
    /* border: 4px white solid; */
    margin: auto;
    font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 115px;
color: #FFFFFF;
}
.planet{
    position: absolute;
    left: 204px;
    top: 301px;
    width: 459px;
    height: 459px;

}
.pickDest{
    position: absolute;
    /* width: 73%; */
    height: 34px;
    left: 5.14%;
    right: 4.57%;
    top: calc(53% - 512px/2);
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 2.725px;
    text-transform: uppercase;
    color: #FFFFFF;
    grid-template-columns: 63px 653px 60px;
    display: grid;
}
.pickDestNum{
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}
.discript{
    position: absolute;
height: 128px;
left: 0%;
right: 0.22%;
top: calc(50% - 128px/2 + 28px);

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */


color: #D0D6F9;
}