.placeMent{
    position: absolute;
    top: 45vh;
}
.destNav{
    position: relative;
    top: 250px;
    grid-template-columns: 91px 123px 86px 99px;
    float: right;
    display: grid;
    /* font-family: Barlow Condensed; */
    /* font-size: 16px; */
    right: 13%;
    Width: 285.5px;
    Height: 34px;
}
.destNav h1{
    font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
color: white;
}
.active{
    border-bottom: 2px rgb(255, 255, 255) solid; 
}
