$tablet: 821px;
$phone: 426px;
$smphone:321px;
.backGround {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    /* width: 100vw; */
    height: 107vh;
    margin-top: -24px;
    background-repeat: no-repeat;

    @media (max-width:$tablet) {
        background-image: url(../assets/home/background-home-tablet.jpg);
        height: 1186px;
        width: 100vw;
    }

    @media (max-width:$phone) {
        background-image: url("../assets/home/background-home-mobile.jpg");
        background-size: cover;
        height: 110vh;
        background-repeat: no-repeat;
    }
}

.mainText {
    color: white;
    width: 450px;
    height: 382px;
    left: 165px;
    top: 325px;
    position: relative;
    @media (max-width:$tablet) {
        margin: auto;
        left: 0px;
        text-align-last: center;
    }

    @media (max-width:$phone) {

        width: 300px;
        left: 0px;
        height: 121px;
        margin: auto;

    }
}
.header{
    font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
/* identical to box height */

letter-spacing: 4.725px;

color: #D0D6F9;
width: 519px;
@media (max-width:$tablet) {
    font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 20px;
    line-height: 24px;
    left: -45px;
    position: relative;
    text-align: center;
    letter-spacing: 3.375px;
    color: #D0D6F9;
}
@media (max-width:$phone) {
    font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 2.7px;
top: -142px;
left: 4px;
position: relative;
width: 145px;
width: 294px;
}
}

.mainText p {
    position: absolute;
    height: 128px;
    left: 0.11%;
    right: 1.22%;
    top: calc(50% - 128px/2 + 87px);
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    text-align: initial;
    @media (max-width:$tablet) {
       font-size: 16px;
       text-align: center;
    }

    @media (max-width:$phone) {
        left: 10%;
        font-size: 15px;
        text-align: initial;
        text-align: center;
        width: 80%;
        height: 82px;
        top: calc(50% - 128px/2 + -10px);
    }
}

.mainText h1 {
    position: absolute;
    height: 172px;
    left: 0%;
    right: 1.11%;
    top: calc(50% - 172px/2 - 102px);
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 0px;
    color: #FFFFFF;

    @media (max-width:$phone) {

        left: 8%;
        right: 0px;
        font-size: 80px;
        width: 20px;

    }
}

.mainText h3 {
    position: relative;
    height: 34px;
    left: -0.89%;
    right: 15.67%;
    top: calc(50% - 34px/2 - 174px);
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #D0D6F9;
    width: 102%;
    @media (max-width:$tablet) {
        font-size: 20px;
    }

    @media (max-width:$phone) {

        left: 5.11%;
        /* right: 0px; */
        font-size: 11px;
        width: 276px;

    }
}

/* ////////////////////////// */
/* NAV BAR */
.navHome {
    position: relative;
    top: 37px;
    grid-template-columns: 136px 181px 125px 165px;
    /* float: right; */
    display: grid;
    /* font-family: Barlow Condensed; */
    font-size: 16px;
    right: -46vw;
    width: 97px;

    @media (max-width:$tablet) {
        grid-template-columns: 83px 140px 83px 118px;
        font-size: 14px;
        right: -1vw;
        width: 57px;
    }
}

.navMain {
    background-image: url(../assets/home/Group3.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 95vw;
    height: 96px;
    left: 55px;
    top: 30px;
    background-size: cover;

    @media (max-width:$tablet) {
        background-image: url(../assets/home/Rectangle.png);
        width: 454px;
        left: 41%;
        top: 3px;
    }

    @media (max-width:$phone) {
        display: none;
    }
}


.active {
    border-bottom: 3px rgb(255, 255, 255) solid;
    color: white;
}

.nav a {
    padding: .5em .8em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    text-align: right;
    padding-bottom: 35px;
    // font-size: 14px;
    font-family: Barlow Condensed;
    @media (max-width:$phone) {
        font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;
    }
}

.nav a:hover {
    border-bottom: 3px rgba(255, 255, 255, 0.229) solid;
}

.navNumber{
    font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;
@media (max-width:$tablet) {
    display: none;
}
}
.mobilePos{
    height: 0px;
}

/* .nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #000000;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 27px;
    border-bottom: 3px solid #fefefe;
    border-left: 3px solid #000000;
    transform: translate(100%, -50%);

}

.nav a:hover:before,
.nav a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav a:hover {
    color: #ffffff;
} */


/* ////////////////////////// */
/* .circleImg {
    position: absolute;
    width: 274px;
    height: 274px;
    left: 1001px;
    top: 397px;
} */

.cirlceDiv:hover {
    border-radius: 50%;
    animation: glow 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes glow {
    from {
        box-shadow: 0px 0px 0px 0px #6c68688f;
    }

    to {
        box-shadow: 0px 0px 0px 60px #6c68688f;
    }
}

.explore {
    position: absolute;
    left: 65px;
    text-align: -webkit-auto;
    top: 98px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
    color: black;
    @media (max-width:$phone) {
        height: 26px;
    left: 87px;
    top: 53px;
    margin: auto;
    font-size: 24px;
    }
}
// .activeExplore{
//     display: none;
// }
.inAct{
    display: none;
}
.cirlcePlace{
    width: 254px;
    height: 9px;
    margin: auto;
    left: 320px;
    top: 401px;
    /* left: -423px; */
    // left: 33px;
    position: relative;
    @media (max-width:$tablet) {
        width: 276px;
        height: 9px;
        margin: auto;
        left: 0px;
        top: 730px;
    }
    @media (max-width:$phone) {
        width: 247px;
        height: 72px;
        margin: auto;
        left: -16px;
        top: 575px;
        /* left: -423px; */
        position: relative;
    }
    
}
.cirlceDiv {
    background-image: url(../assets/home/Group.png);
    width: 276px;
    height: 274px;
    /* margin: auto; */
    /* left: -9px; */
    background-repeat: no-repeat;

    @media (max-width:$tablet) {
        background-size: 280px;
        height: 291px;
        width: 281px;
        top: 861px;
        background-position-x: center;
        left: 244px;
    
    }

    @media (max-width:$phone) {
        left: 73px;
        background-size: 132px;
        background-position-x: center;
        height: 133px;
        top: 530px;
    }
    @media (max-width:$smphone) {
        left: 19px;
        background-size: 132px;
        background-position-x: center;
        height: 133px;
        top: 529px;
    }
}



@media (max-width:$phone) {
    .mobileMenu {
        background-image: url(../assets/shared/icon-hamburger.svg);
        width: 25px;
        position: relative;
        height: 21px;
        top: 33px;
        left: -25px;
        float: right;
        display:initial;
    }

    .menuActive {
        color: white;
        width: 69vw;
        height: 110%;
        left: 31vw;
        position: absolute;
        z-index: 1;
        background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(81.5485px);
    }

    .navMobileMain {
        position: relative;
        top: 157px;
        grid-template-rows: 20px 20px 20px 20px;
        display: grid;
        grid-gap: 77px;
        justify-items: center;
        // display:initial;
    }

    a.nav-link {
        color: white;
    }
}
@media (max-width:$tablet) {
    .logo{
        background-image: url(../assets/shared/logo.svg);
        width: 55px;
        left: -276px;
        position: absolute;
        height: 54px;
        top: -5px;
        background-repeat: no-repeat;
        
    }
}
